
/* Contactos */

form{
    text-align: center;
}

/* Media Query*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    
    body{
        width:auto;
        height: auto;
        padding: 7px;
        background-color:#f7f7f7;
        line-height: 1.6;
        letter-spacing: 0.03em;
    }

    nav > ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }

    nav > ul > li{
        margin: 5px;
    }
.marcas-fav{
    visibility:hidden;
}
    .imagen-descripcion-de-marcas{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .imagen-descripcion-de-marcas > .container-fluid > .row{
        flex-direction: column;
    }

    img{
    height: inherit;
    margin-left: 3.7rem;
    border-radius: 20px;
    }   

    .row > .col{
        width: 0%;
        height: auto;
        padding: 8px;
    }
    /* FOOTER */

    footer > div > .row{
        width: 100%;
        margin-left: 0%;
    }

    /* HOMBRES */

    .conteiner-card{
        width: 100%;
        max-width: 1200px;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin: auto;
    }


}
